<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Instavid_ShoppableVideos" schema_version="1.0.0">
        <sequence>
            <module name="Magento_Widget"/>
        </sequence>
    </module>
</config>


<!-- This tells Magento:
What your module is called (Instavid_ShoppableVideos)
What version it is (for upgrades later) -->