<?xml version="1.0"?>
<!-- File: app/code/Instavid/ShoppableVideos/etc/frontend/events.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="instavid_shoppablevideos_order_place_after" instance="Instavid\ShoppableVideos\Observer\OrderPlaceAfter" />
    </event>
    <event name="controller_action_predispatch">
        <observer name="instavid_capture_attribution" instance="Instavid\ShoppableVideos\Observer\CaptureAttribution" />
    </event>
</config>