<?xml version="1.0"?>
<!-- File: app/code/Instavid/ShoppableVideos/etc/adminhtml/events.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Product save events - triggered from admin area -->
    <event name="catalog_product_save_after">
        <observer name="instavid_shoppablevideos_product_save_after" instance="Instavid\ShoppableVideos\Observer\ProductSaveAfter" />
    </event>
    
    <event name="catalog_product_delete_after">
        <observer name="instavid_shoppablevideos_product_delete_after" instance="Instavid\ShoppableVideos\Observer\ProductDeleteAfter" />
    </event>
</config>
